/* HEADER */
:local(.header) {
    width: 100%;
    background-color: #1f2e3e;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  :local(.itemHeader)  {
    float: left;
    padding: 10px 25px 10px 30px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    text-decoration: none;
  }
  