@font-face {
    font-family: 'SF Pro Text';
    src: url('SFProText-Light.eot');
    src: url('SFProText-Light.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Light.woff2') format('woff2'),
        url('SFProText-Light.woff') format('woff'),
        url('SFProText-Light.ttf') format('truetype'),
        url('SFProText-Light.svg#SFProText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('SFProText-LightItalic.eot');
  src: url('SFProText-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('SFProText-LightItalic.woff2') format('woff2'),
  url('SFProText-LightItalic.woff') format('woff'),
  url('SFProText-LightItalic.ttf') format('truetype'),
  url('SFProText-LightItalic.svg#SFProText-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('SFProText-Regular.eot');
    src: url('SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Regular.woff2') format('woff2'),
        url('SFProText-Regular.woff') format('woff'),
        url('SFProText-Regular.ttf') format('truetype'),
        url('SFProText-Regular.svg#SFProText-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('SFProText-RegularItalic.eot');
  src: url('SFProText-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('SFProText-RegularItalic.woff2') format('woff2'),
  url('SFProText-RegularItalic.woff') format('woff'),
  url('SFProText-RegularItalic.ttf') format('truetype'),
  url('SFProText-RegularItalic.svg#SFProText-RegularItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('SFProText-Bold.eot');
    src: url('SFProText-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFProText-Bold.woff2') format('woff2'),
        url('SFProText-Bold.woff') format('woff'),
        url('SFProText-Bold.ttf') format('truetype'),
        url('SFProText-Bold.svg#SFProText-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('SFProText-BoldItalic.eot');
  src: url('SFProText-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('SFProText-BoldItalic.woff2') format('woff2'),
  url('SFProText-BoldItalic.woff') format('woff'),
  url('SFProText-BoldItalic.ttf') format('truetype'),
  url('SFProText-BoldItalic.svg#SFProText-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
