.CommonButton {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-width: 85px;
  text-transform: capitalize;
  /* max-height: 35px; */
}
.CommonButton img {
  max-width: 15px;
  max-height: 20px;
  margin-right: 5px;
  color: white;
}
